{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORPO SANNO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles1.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
     

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@ts_components_2.9.0/dist/css/components.css" type="text/css">

    <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">


</head>

<body >
  
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #8fffff;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'blackcorpo.png' %}" alt="Logo" width="205" height="88" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavbar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <script>
                    function toggleNavbar() {
                        var navbar = document.getElementById("navbarNav");
                        navbar.classList.toggle("show");
                    }
                </script>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#Inicio">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#Servicios">Servicios</a>
                        </li>   
                        <li class="nav-item active">
                            <a class="nav-link" href="#Reserva de Cita">Reserva de Cita</a>
                        </li> 
                        <li class="nav-item active">
                            <a class="nav-link" href="#Profesionales">Profesionales</a>
                        </li>     
                        <li class="nav-item active">
                            <a class="nav-link" href="/blog/">Información</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#Acerca de Nosotros">Acerca de Nosotros</a>
                        </li>   
                        <li class="nav-item active">
                            <a class="nav-link" href="#Contacto">Contacto</a>
                        </li> 
                     
                    </ul>
                </div>
            </div>
        </nav>
      </header>

  
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Carousel inner -->
  <div class="carousel-inner">
    {% for image in images %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
        <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ image.title }}">
        <div class="carousel-caption d-none d-md-block">
          {% if image.link %}
            <p><a href="{{ image.link }}" class="btn btn-light">Learn more</a></p>
          {% endif %}
          {% if image.description %}
            <p class="card-text">{{ image.description }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Carousel controls -->

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



    <section class="seccion" id="Servicios">
        <div class="contenedor">

            <div class="titulo">
                <h2>¿Qué ofrecemos?</h2>
            </div>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'masaje.png' %}" alt="Masaje">
                    <h3>TRATAMIENTOS DE BELLEZA</h3>
                    <p>Ofrecemos  una variedad de tratamientos que se ajustan según tus necesidades, desde tratamientos corporales (reafirmante, reductivo, depilación láser), Faciales e inyectables realizados  por nuestras profesionales  kinesióloga, Enfermera y esteticista integral, que te entregaran una experiencia  relajante y única para contribuir a tu salud y bienestar.</p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'fisio1.png' %}" alt="Fisioterapia">
                    <h3>CORPO SANNO SPORT</h3>
                    <p>Nos encargamos de llevar la kinesiología un nivel más allá, mirando y acompañando a la persona de una manera Integral, te ayudaremos a entender  tu lesión y entregamos las herramientas necesarias para que el retorno a sus actividades sea lo más pronto posible.
                      Nuestros servicios incluyen educación y rehabilitación física, más una atención personalizada uno a uno por nuestros profesionales especializados en el área.
                      </p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'masajefacial.png' %}" alt="Naturaterapia">
                    <h3>SALUD INTEGRAL
                    </h3>
                    <p>Brindamos una diversa gama de especialidades en nuestro centro  que puedes encontrar para complementar  tu salud y bienestar. Nuestros profesionales  especializados en las áreas de nutrición, Psicología, Kinesiología integrativa-bioreguladora y  Masoterapia  terapéutica, te atenderán y guiaran en tus objetivos para cuidar completo equilibrio  físico, psíquico y emocional.
                    </p>
                </div>
            </div>
            
        </div>
    </section>



  
      <div class="tarjeta">
        <h3 class="card-title">Explora nuestro blog</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, recusandae sunt similique illo, distinctio laboriosam earum nihil obcaecati repudiandae perferendis eos voluptates? Reprehenderit a tempore quo neque accusamus nam id?</p>          <a href="/blog/" class="btn btn-primary btn-lg" style="box-shadow: 5px 6px 10px rgb(7, 156, 183);     background-color: #33B679; color: #ffffff;">Explora nuestro blog</a>
      </div>

  
    <section class="seccion" id="Reserva de Cita">
        <div class="contenedor">
            <div class="titulo">
                <h2>Reserva de Citas</h2>
            </div>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'kineReserva.png' %}" alt="Profesional">
                    <h3>Kinesiología integrativa-bioreguladora</h3>
                    <p>Explora nuestro servicio de kinesiología con profesionales altamente capacitados. Trabajamos para mejorar tu salud y bienestar físico.</p>
                    <div id="scheduling-button"></div>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'nutrireserva.png' %}" alt="Profesional">
                    <h3>Nutricionista</h3>
                    <p>Descubre cómo nuestros nutricionistas pueden ayudarte a alcanzar tus metas de salud a través de planes personalizados y asesoramiento experto.</p>
                    <div id="scheduling-button1"></div>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'enferReserva.png' %}" alt="Profesional">
                    <h3>Enfermera</h3>
                    <p>Nuestros profesionales de enfermería están aquí para brindarte cuidados compasivos y servicios de salud centrados en el paciente.</p>
                    <div id="scheduling-button2"></div>
                </div>
                <div class="tarjeta">
                  <img src="{% static 'enferReserva.png' %}" alt="Profesional">
                  <h3>Psicóloga </h3>
                  <p>Nuestros profesionales de enfermería están aquí para brindarte cuidados compasivos y servicios de salud centrados en el paciente.</p>
                  <div id="scheduling-button2"></div>
              </div>
            </div>
            
        </div>
    </section>

    <section class="seccion" id="Profesionales">
        <div class="contenedor">
            <div class="titulo">
                <h2>Equipo</h2>
            </div>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'pedrogavilan1.jpg' %}" alt="Profesional">
                    <h3>Pedro Gavilán- Kinesiólogo: </h3>
                    <li>Kinesiología musculo-esquelética
                      <li>Kinesiología Deportiva</li>
                      <li>Coach Deportivo
                    </li>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'fran.png' %}" alt="Profesional">
                    <h3>Francisca Díaz Segura-kinesióloga:
                    </h3>
                    <li>Kinesiología  Certificada en Rehabilitación de Piso Pélvico
                    </li>                    
                    <li>Kinesiología dermatofuncional
                    </li>
                    <li>Entrenamiento pre y post parto
                    </li>
                    <li>Depilación láser y tratamientos corporales
                    </li>
            </div>
                <div class="tarjeta">
                    <img src="{% static 'arielfariaskine.jpg' %}" alt="Profesional">
                    <h3>Ariel Farías Maulen- Kinesiólogo:
                      </h3>
                      <li>Medicina Bioreguladora 
                      </li>                    
                      <li>Punción Seca
                      </li>
                      <li>Terapia neural
                      </li>
                      <li>Electrolisis percutánea

                      </li>
                      <li>Medicina hiperbarica Regenerativa.
                      </li>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'valentinaestet.jpg' %}" alt="Profesional">
                    <h3>Valentina Romanini Salah-Esteticista integral
                    </h3>
                    <li>Tratamientos faciales y estéticos

                    </li>                    
                    <li>Masofilaxia 
                    </li>
                    <li>Masoterapia
                    </li>
                </div>
                <div class="tarjeta">
                    <img src="" alt="Profesional">
                    <h3>Patricia Santis Santis- Psicóloga</h3>
                    <li>Psicología Clínica Infanto-juvenil y adulto
                    </li>                    
                    <li>Terapia individual, familiar y de pareja 
                    </li>
                    <li>Procesos de evaluación psicológica y psicométricos.
                    </li>
                </div>
                <div class="tarjeta">
                  <img src="{% static 'valen.png' %}" alt="Profesional">
                  <h3>Tamara Díaz Maureira –Enfermera Estética
                    </h3>
                    <li>Plasma rico en plaquetas</li>                    
                    <li>Ácido Hiauluronico</li>
                    <li>Hilos tensores </li>
                    <li>Toxina Botulinica
                    </li>
                    <li>Mesoterapia 
                    </li>
                    <li>Armonización de Glúteos 
                    </li>
              </div>
              <div class="tarjeta">
                <img src="{% static 'susana.jpg' %}" alt="Profesional">
                <h3>Susana Díaz Toro- Nutricionista
                  </h3>
                  <li>Nutrición  Clínica 
                  </li>                    
                  <li>Nutrición Deportiva
                  </li>
                  <li>Nutrición digestiva 
                  </li>
                  <li>Auriculoterapia.
                  </li>
            </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-5" id="Acerca de Nosotros" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="display-4">Acerca de nosotros</h2>
                    <p class="lead">
                        En <strong>Corpo Sano</strong>, nos dedicamos a brindar servicios de salud y estética de alta calidad, con el compromiso de mejorar el bienestar general de nuestros clientes. Nos enorgullece ofrecer un enfoque integral que abarca desde tratamientos corporales rejuvenecedores hasta servicios de rehabilitación.
                    </p>
        
                    <p class="lead">
                        Nuestro equipo está formado por profesionales altamente capacitados y apasionados por su trabajo. Trabajamos arduamente para proporcionar soluciones personalizadas que se adapten a las necesidades específicas de cada individuo, promoviendo la salud física y emocional.
                    </p>
        
                    <p class="lead">
                        En Corpo Sano, creemos en la importancia de la atención personalizada y en crear un ambiente acogedor para nuestros clientes. Buscamos ser líderes en el sector, destacando por la excelencia en el servicio, la innovación en los tratamientos y el compromiso con la satisfacción del cliente.
                    </p>
        
                    <p class="lead">
                        Agradecemos la confianza depositada en nosotros y nos comprometemos a seguir mejorando y creciendo, siempre con el objetivo de contribuir al bienestar y la belleza de quienes eligen Corpo Sano.
                    </p>                
                </div>
            </div>
        </div>
    </section>

    <h2 style="text-align: center;">Ubicacion</h2>

<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.7819602395903!2d-71.21038722443399!3d-33.68870957329607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255ab43935573%3A0x35479b921374266c!2sCentro%20Integral%20de%20Salud%20y%20Est%C3%A9tica%20Corposanno!5e0!3m2!1sen!2scl!4v1706255667827!5m2!1sen!2scl"
         allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


    <footer id="Contacto" class="text-center text-lg-start text-dark" style="background: rgb(62,163,208);
    background: radial-gradient(circle, rgba(62,163,208,1) 0%, rgba(54,198,200,1) 100%);"   >
    <!-- Grid container -->
    <div class="container-fluid p-6">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-4 mb-4 mb-md-0">

          <div class="rounded-circle bg-dark shadow-1-strong d-flex align-items-center justify-content-center mb-3 mx-auto" style="width: 150px; height: 150px;">
            <img src="{% static 'logocorpo.png' %}" height="70" alt=""
                 loading="lazy" />
          </div>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-dark px-2" href="https://www.instagram.com/corposanno/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <li>
              <a class="text-dark px-2" href="https://api.whatsapp.com/send?phone=56981322040" target="_blank">
                <i class="fab fa-whatsapp fa-2x"></i>
              </a>
            </li>
            <li>
              <a class="text-dark px-2" href="https://www.instagram.com/corposannosports/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
          </ul>
          
          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Páginas</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#Servicios" class="text-dark"><i class="fa-solid fa-users pe-2"></i>Servicios</a>
            </li>
            <li class="mb-2">
              <a href="#Reserva de Cita" class="text-dark"><i class="fa-solid fa-calendar-days pe-3"></i>Reserva tu Hora </a>
            </li>
            <li class="mb-2">
              <a href="#Profesionales" class="text-dark"><i class="fa-solid fa-user-tie pe-3"></i>Profesionales</a>
            </li>

            <li class="mb-2">
              <a href="/blog/" class="text-dark"><i class="fa-solid fa-newspaper pe-3"></i>Guias Informativas</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
      
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contacto</h5>

          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt pe-2"></i>Pasaje Libertad 86, 9582207 Melipilla, Región Metropolitana</p>
       
            </li>
            <li>
              <p><i class="fas fa-phone pe-2"></i>9-15541531</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pe-2 mb-0"></i>direccion@gmail.cl</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <small>&copy; 2024 <span class="text-dark">Corpo Sanno</span>. Todos los derechos reservados.</small>
  </div>
    <!-- Copyright -->
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>

$(document).ready(function() {

$('#carouselExampleIndicators').carousel({

  interval: 3000

});


// Add active class to next carousel-item when "Next" button is clicked

$('#carouselExampleIndicators').on('slid.bs.carousel', function() {

  var currentIndex = $('.carousel-inner .active').index();

  var nextIndex = (currentIndex + 1) % $('.carousel-inner .item').length;

  $('.carousel-inner .item').eq(nextIndex).addClass('active');


  // Add animation to "Next" button

  $('.carousel-control-next').addClass('carousel-control-animate');

  setTimeout(function() {

    $('.carousel-control-next').removeClass('carousel-control-animate');

  }, 500);

});


// Add animation to "Previous" button

$('#carouselExampleIndicators').on('slide.bs.carousel', function() {

  $('.carousel-control-prev').addClass('carousel-control-animate');

  setTimeout(function() {

    $('.carousel-control-prev').removeClass('carousel-control-animate');

  }, 500);

});

});
    </script>

  <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
    <script>
        (function() {
         var target = document.getElementById('scheduling-button');
         window.addEventListener('load', function() {
            calendar.schedulingButton.load({
              url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ0XX1LaOJubJomdKGCnh2_l6lXA4AjsyEK4t6v_RkoXN8i9hyplN58RBYz33XavJcKf2jNn4xea?gv=true',
              color: '#039BE5',
              label: "Reservar una Cita(Kine)",
              target,
            });
         });
        })();
    </script>
    
    <script>
        (function() {
        var target = document.getElementById('scheduling-button1');
        window.addEventListener('load', function() {
            calendar.schedulingButton.load({
            url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ19vaxVC6PlVcuOWYJVQqRUrysSOxycbcdayAJyTeaLPuRK_Oy5fc7zr_riTHyL3LT1NHfeVARl?gv=true',
            color: '#33B679',
            label: "Reserva de Cita(Nutri)",
            target,
            });
        });
        })();
    </script>
    
    <script>
    (function() {
        var target = document.getElementById('scheduling-button2');
        window.addEventListener('load', function() {
            calendar.schedulingButton.load({
            url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ2uz93aQj_uYnNpZne84suekeDjcpB9tGoYLQgqVxg8RdSSO5N0bdHatOIVid99z4RlfA6Bq7LB?gv=true',
            color: '#8E24AA',
            label: 'Reservar una cita(Enfer)',
            target,
            });
        });
        })();
    
    </script>

</body>

</html>