{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORPO SANNO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
     

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@ts_components_2.9.0/dist/css/components.css" type="text/css">

    <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">


</head>

<body >
  
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #8fffff;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'logocorpo.png' %}" alt="Logo" width="205" height="88" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavbar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <script>
                    function toggleNavbar() {
                        var navbar = document.getElementById("navbarNav");
                        navbar.classList.toggle("show");
                    }
                </script>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#Inicio">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#Servicios">Servicios</a>
                        </li>   
                        <li class="nav-item active">
                            <a class="nav-link" href="#Reserva de Cita">Reserva de Cita</a>
                        </li> 
                        <li class="nav-item active">
                            <a class="nav-link" href="#Profesionales">Profesionales</a>
                        </li>     
                        <li class="nav-item active">
                            <a class="nav-link" href="/blog/">Blog</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#Acerca de Nosotros">Acerca de Nosotros</a>
                        </li>   
                        <li class="nav-item active">
                            <a class="nav-link" href="#Contactos">Contacto</a>
                        </li> 
                     
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<section class="seccion" >
  <div class="contenedor">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
          <img src="{% static 'dani.png' %}" class="d-block w-30" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'masaje.png' %}" class="d-block w-30" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'fran.png' %}" class="d-block w-30" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
</section>

    <section class="seccion" id="Servicios">
        <div class="contenedor">
            <div class="titulo">
                <h2>¿Qué ofrecemos?</h2>
            </div>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'masaje.png' %}" alt="Masaje">
                    <h3>Masajes</h3>
                    <p>Las sesiones de masajes en Corpo Sanno son una experiencia única de relajación y bienestar. Ofrecemos una variedad de masajes, desde opciones relajantes hasta terapéuticas y reflexivas. Nuestros terapeutas expertos utilizan técnicas especializadas para aliviar la tensión muscular, mejorar la circulación y proporcionar un alivio general del estrés. Descubre cómo nuestros masajes pueden contribuir a tu salud y equilibrio.</p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'fisio1.png' %}" alt="Fisioterapia">
                    <h3>Fisioterapia</h3>
                    <p>En Corpo Sanno, la fisioterapia va más allá de la rehabilitación convencional. Nuestros servicios incluyen programas de rehabilitación postoperatoria, fisioterapia en sala especializada y asesoramiento para la readaptación a la vida cotidiana. Nuestro equipo de fisioterapeutas altamente capacitados se enfoca en el bienestar integral, trabajando para mejorar la movilidad, fortalecer los músculos y promover la recuperación total.</p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'masajefacial.png' %}" alt="Naturaterapia">
                    <h3>Reafirmación de Piel</h3>
                    <p>Recupera la elasticidad y firmeza de tu piel con nuestros tratamientos de reafirmación. Mejora la textura y tonicidad para una apariencia rejuvenecida.</p>
                </div>
            </div>

                <div class="card">
                    <h5 class="card-header ">Guias informativas sobre salud</h5>
                    <div class="card-body">
                      <h5 class="card-title">5 consejos para cuidar tu piel</h5>
                      <p class="card-text">Consejo sobre cuidado de la piel y un poco más de texto...</p>
                      <a href="/blog/" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            
        </div>
    

    </section>

    

    <section class="seccion" id="Reserva de Cita">
        <div class="contenedor">
            <div class="titulo">
                <h2>Reserva de Citas</h2>
            </div>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'kineReserva.png' %}" alt="Profesional">
                    <h3>Kinesiologia</h3>
                    <p>Explora nuestro servicio de kinesiología con profesionales altamente capacitados. Trabajamos para mejorar tu salud y bienestar físico.</p>
                    <div id="scheduling-button"></div>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'nutrireserva.png' %}" alt="Profesional">
                    <h3>Nutricionista</h3>
                    <p>Descubre cómo nuestros nutricionistas pueden ayudarte a alcanzar tus metas de salud a través de planes personalizados y asesoramiento experto.</p>
                    <div id="scheduling-button1"></div>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'enferReserva.png' %}" alt="Profesional">
                    <h3>Enfermera</h3>
                    <p>Nuestros profesionales de enfermería están aquí para brindarte cuidados compasivos y servicios de salud centrados en el paciente.</p>
                    <div id="scheduling-button2"></div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="seccion" id="Profesionales">
        <div class="contenedor">
            <div class="titulo">
                <h2>Equipo</h2>
            </div>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'pedro.png' %}" alt="Profesional">
                    <h3>Pedro Gavilán -Kinesiólogo</h3>
                    <p>6:00-13:00 JORNADA MAÑANA ( ENTRENAMIENTO Y KINESIOLOGIA) </p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'fran.png' %}" alt="Profesional">
                    <h3>Francisca Díaz -Kinesiologa</h3>
                    <p>9:00-20:30 Depilacion laser, tto corporales , post operatorio </p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'valen.png' %}" alt="Profesional">
                    <h3>Valentina Romanini -Esteticista</h3>
                    <p>9:00-20:30 Tratamiento faciales , tto corporales, masajes de
                        relajación</p>
                </div>
                <div class="tarjeta">
                    <img src="{% static 'dani.png' %}" alt="Profesional">
                    <h3>Daniela Encina -Kinesióloga </h3>
                    <p>Masajes terapéuticos (relajación, descontracturante, deportivos)
                        Solo en las tardes (lunes-mar-jueves desde las 17:00, miércoles desde las 15:00)
                    </p>
                </div>
                <div class="tarjeta">
                    <img src="" alt="Profesional">
                    <h3>Ariel Farías -Kinesiólogo </h3>
                    <p>Electro punción, terapia neural, electrolisis percutánea, Medicina
                        bioreguladora, Hiperbárica.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-5" id="Acerca de Nosotros" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="display-4">Acerca de nosotros</h2>
                    <p class="lead">
                        En <strong>Corpo Sano</strong>, nos dedicamos a brindar servicios de salud y estética de alta calidad, con el compromiso de mejorar el bienestar general de nuestros clientes. Nos enorgullece ofrecer un enfoque integral que abarca desde tratamientos corporales rejuvenecedores hasta servicios de rehabilitación.
                    </p>
        
                    <p class="lead">
                        Nuestro equipo está formado por profesionales altamente capacitados y apasionados por su trabajo. Trabajamos arduamente para proporcionar soluciones personalizadas que se adapten a las necesidades específicas de cada individuo, promoviendo la salud física y emocional.
                    </p>
        
                    <p class="lead">
                        En Corpo Sano, creemos en la importancia de la atención personalizada y en crear un ambiente acogedor para nuestros clientes. Buscamos ser líderes en el sector, destacando por la excelencia en el servicio, la innovación en los tratamientos y el compromiso con la satisfacción del cliente.
                    </p>
        
                    <p class="lead">
                        Agradecemos la confianza depositada en nosotros y nos comprometemos a seguir mejorando y creciendo, siempre con el objetivo de contribuir al bienestar y la belleza de quienes eligen Corpo Sano.
                    </p>                
                </div>
            </div>
        </div>
    </section>


 
    <footer class="text-center text-lg-start text-dark" style="background-color: #8fffff;">
    <!-- Grid container -->
    <div class="container-fluid p-6">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-4 mb-4 mb-md-0">

          <div class="rounded-circle bg-dark shadow-1-strong d-flex align-items-center justify-content-center mb-3 mx-auto" style="width: 150px; height: 150px;">
            <img src="{% static 'logocorpo.png' %}" height="70" alt=""
                 loading="lazy" />
          </div>

          <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-dark px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-dark px-2" href="https://www.instagram.com/corposanno_/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-dark ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Div 1</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 1</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 2</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 3</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 4</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Div 2</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 1</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 2</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Lista 3</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>JLista 4</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt pe-2"></i>Melipilla</p>
            </li>
            <li>
              <p><i class="fas fa-phone pe-2"></i>9-15541531</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pe-2 mb-0"></i>direccion@gmail.cl</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <i class="text-dark" >Corpo Sanno</i>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
    <script>
        (function() {
         var target = document.getElementById('scheduling-button');
         window.addEventListener('load', function() {
            calendar.schedulingButton.load({
              url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ0XX1LaOJubJomdKGCnh2_l6lXA4AjsyEK4t6v_RkoXN8i9hyplN58RBYz33XavJcKf2jNn4xea?gv=true',
              color: '#039BE5',
              label: "Reservar una Cita(Kine)",
              target,
            });
         });
        })();
    </script>
    
    <script>
        (function() {
        var target = document.getElementById('scheduling-button1');
        window.addEventListener('load', function() {
            calendar.schedulingButton.load({
            url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ19vaxVC6PlVcuOWYJVQqRUrysSOxycbcdayAJyTeaLPuRK_Oy5fc7zr_riTHyL3LT1NHfeVARl?gv=true',
            color: '#33B679',
            label: "Reserva de Cita(Nutri)",
            target,
            });
        });
        })();
    </script>
    
    <script>
    (function() {
        var target = document.getElementById('scheduling-button2');
        window.addEventListener('load', function() {
            calendar.schedulingButton.load({
            url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ2uz93aQj_uYnNpZne84suekeDjcpB9tGoYLQgqVxg8RdSSO5N0bdHatOIVid99z4RlfA6Bq7LB?gv=true',
            color: '#8E24AA',
            label: 'Reservar una cita(Enfer)',
            target,
            });
        });
        })();
    
    </script>


</body>


</html>